{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Srish</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
 
  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
  
        <div class="profile">
          <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
          <h1 class="text-light"><a href="homepage/index.html">Srishti Choudhary</a></h1>
          <div class="social-links mt-3 text-center">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
  
        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li><a href="../home" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#resume" class="nav-link scrollto "><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a href="../poems" class="nav-link scrollto active"><i class="bx bx-file-blank"></i> <span>Poems</span></a></li>
            <!-- <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
            <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li> -->
          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </header><!-- End Header -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{% static 'img\poems\benaras.jpg' %}" class="card-img-top" alt="banaras">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <pre class="card-text">
            बनारस!
            तुम हमेशा रहे हो मेरी कहा‌नियों में,
            मेरे किस्सों में, और मेरे दिल में,
            आज मैं तुम्हें अपनी कविता में भी उतारने जा रही हूं।
            
            डर लग रहा है की कहीं तुम्हारा ज़िक्र आते ही,
            मेरे हृदय में जो अहलाद की भावना उत्पन्न होती है,
            अगर उसे इस कविता मे नहीं उतार पाई तो?
            अगर तुम्हारी सौम्यता और प्रेम को शब्दों में नहीं लिख पाई तो?
            अगर तुम्हारे सौंदर्य के साथ नहीं कर पाई मैं न्याय फिर?
            
            पर फिर भी आज मैं लिखूॅंगी,
            तुम्हारे सौम्यता, सौंदर्य और प्रेम पर नहीं,
            तुम पर।
            तुम्हारे उस गुण पर जिसके कारण सब तुम्हारे मुरीद हैं,
            तुम्हारे अंदर के अपनत्व पर!
            
            काशी की धरती पर उतर कर,
            तुम्हारी हवाओं को अपने अंदर महसूस कर,
            मेरे मन में सिर्फ एक ही ख्याल आता है की
            कैसा होगा वो बनारस जिस पर,
            स्वयं महादेव ने कदम रखा था?
            जिसे माॅं पार्वती ने अपनाया था?
            और कैसे?
            कैसे?
            आज भी तुम उसी निस्वार्थ, निश्चल प्रेम के साथ सबको अपना रहे हो।
            
            अभी बीएचयू के विश्वनाथ मंदिर में बैठ कर मैं सोचती हूॅं,
            की आखिर कितने रंग हैं तुम्हारे?
            तुम बाहर से जितने व्यस्त और व्याकुल नज़र आते हो,
            अंदर से तुम उतने ही शांत और स्थिर हो,
            मानो वो चिड़िया जो बार-बार तुम्हारे पास आ रही है,
            पूछ रही हो तुमसे, कि कैसे हो तुम इतने निश्चिंत और मौन?
            वो जानना चाहती हो तुम्हारी हर एक कहानी,
            पर तुमने अपनी प्यारी सी मुस्कान के साथ,
            धारण की है एक चुप्पी,
            जानते हो,
            ये चुप्पी मझे चिन्तित या बेचैन नहीं करती,
            बस भर देती है अहलाद की भावना से,
            क्यूं? मैं नहीं जानती,
            या जानना ही नहीं चाहती।
            
            अभी आधी रात को अस्सी घाट पर,
            एक नाव वाले की चौकी पर बैठ कर,
            मैं सोच में पड़ चुकी हूं।
            मनुष्य की अंतिम यात्रा तुम ही क्यों होते हो?
            ऐसा कौन सा सुकून है तुम्हारे भीतर?
            यहां लोग आभाव में भी खुश हैं?
            उस फुग्गे बेच रही छोटी बच्ची के चेहरे पर देखी है,
            मैंने एक मुस्कान,
            जो मुझे याद दिला रही है,
            पास ही बहती उस निर्मल धारा की।
            मैं उसे लाचार नहीं समझती और न ही मुझे तरस आ रहा है उस पर।
            मुझे दया आ रही है,
            खुद पर,
            और मुझ जैसे हर उस इंसान पर,
            जो कभी भी नहीं मुस्कुराया तुम्हारी तरह।
            तुमसे नहीं छीन सकता कोई तुम्हारी ये पवित्रता।
            जिस तरह सबके पाप धोकर भी,
            गंगा निर्मल और शालीन है।
            मैंने देखा है उसमें तुम्हारा प्रतिबिम्ब,
            बिलकुल स्पष्ट और विशद।
            
            थक कर अब मैं दशाश्वमेध की सिद्धियों पर बैठ गई हूॅं।
            मैं आज गंगा आरती देखनी आई थी,
            पर उससे पहले मेरी नज़र टिक गई है,
            उस विभाजन पर जो मैं अभी देख रही हूं,
            मेरी ही तरह कुछ लोग घाट पर बैठे हैं
            और कुछ क्रूज पर बैठ कर
            देख रहे हैं ये आरती।
            कुछ बच्चे खेल रहे हैं ,
            बैठ कर अपनी मां की गोद में,
            और कुछ नीलकंठ का भेष धारण कर
            देख रहे हैं उम्मीद भरी नजरों से उनकी ओर।
            
            शायद तुम्हारी भी कुछ कहानियाॅं होंगी,
            जो मैंने आज से पहले नहीं सुनी।
            शायद तुम भी चुप-चाप सह रहे हो वो पीड़ा।
            इस क्षण में तुम मुझे महसूस हो रहे हो,
            मानो बिलकुल उन घंटियों के स्वर की तरह
            जो मेरे कर्ण से होकर,
            मेरे हृदय में अनंत के लिए स्थपित हो गई हैं।
            यहां बैठकर मेरे मन में कोई सवाल नहीं आया और ना ही आया कोई जवाब,
            बस आज मैंने तुम्हारे देवत्व का संचार यहां की हवाओं में देखा है,
            तुम्हारे मनुष्यत्व का भी एहसास हो चूका है मुझे,
            अब नहीं हो रही मुझे कोई थकान,
            पर मेरे अंदर इतनी हिम्मत भी नहीं,
            कि यहाॅं से उठ कर जा सकूॅं।
            
            अभी वाराणसी स्टेशन पर बैठकर,
            मैं इंतजार कर रही हूं अपनी वापसी की ट्रेन का,
            मुझे तुमसे दूर जाने का आभास
            अभी तक नहीं हुआ है।
            मैं अब भी खोई हूॅं,
            तुम्हारे उन मौन प्रश्नों में,
            उन अनुत्तरित सवालों में।
            
            मेरी ट्रेन अब मेरी आंखों के सामने आ कर खड़ी है,
            बस अब इस क्षण में मेरा दिल मुझे तुमसे दूर नहीं जाने दे रहा है।
            इस भीड़ में भी,
            तुम मुझे उसी विश्वनाथ मंदिर के,
            छत की शांत संध्या की याद दिला रहे हो।
            पुल पर गंगा को अपने सामने से गुज़रते देख,
            भर आया है मेरा हृदय और मेरी आंखें।
            
            अपने सवालों के जवाब ढूंढने आई थी,
            अपनी जिंदगी का एक अहम हिस्सा तुम्हारे पास छोड़ कर जा रही हूं।
            तुमसे सीख कर जा रही हूं,
            निश्चल मुस्कुराहट की अदा।
            तुम्हारी सौम्यता और सुन्दरता,
            जो तुमने काशी की गलियों में बिखेरी हैं,
            उसे अपने अंदर समेट कर,
            मैं ले जा रही हूं अपने साथ।
            भगवान विष्णु की तपस्या
            और महादेव का आशीर्वाद,
            सब महसूस किया है मैंने।
            तुम्हारे हर रस की अनुभूति,
            जा रही है मेरे साथ।
            छोड़ कर जा रही हूॅं,
            अपनी सारी चिंताएं बाबा विश्वनाथ के चरणो में,
            और ले जा री हूं अपने साथ
            खुद को।
            
            बनारस मैं जा रही हूं,
            तुम्हे,
            अपने साथ ले कर,
            मैं जा रही हूं
                        </pre>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
  
  
  
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Manas Prasad</span></strong>
        </div>
        <div class="credits">
          Designed by <a href="https://www.linkedin.com/in/manas-prasad-219259157/">Manas Prasad</a>
        </div>
      </div>
    </footer><!-- End  Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  

    <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'homepage/assets/js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
  
  </html>

